* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: #AF2A23;
  --muted-red: #c3312c;
  --dark-red: #73140F;
  --grey: #868686;
  --light-grey: #EBEBEB;
  --white: #ffffff;
  --black: #000000;

  --light-black: #2F2F2F;
  --dark-grey: #202020;
}

.App {
  background-image: url('./asset/background.jpg');
  background-size: cover;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.App.dark {
  filter: brightness(0.7);
}

.password {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password input,
.password button {
  height: 2rem; 
  padding: 5px 10px;
}
